version: '3.8'

services:
  tablica:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: nexocloud-tablica
    restart: unless-stopped
    networks:
      - proxy
    volumes:
      - ./data:/app/.wrangler
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.nexocloud-tablica.rule=Host(`tablica.nexocloud.pl`)"
      - "traefik.http.routers.nexocloud-tablica.entrypoints=websecure"
      - "traefik.http.routers.nexocloud-tablica.tls.certresolver=cf"
      - "traefik.http.services.nexocloud-tablica.loadbalancer.server.port=8787"
      - "traefik.http.middlewares.nexocloud-tablica-hsts.headers.stsseconds=31536000"
      - "traefik.http.middlewares.nexocloud-tablica-hsts.headers.stsincludesubdomains=true"
      - "traefik.http.middlewares.nexocloud-tablica-hsts.headers.stspreload=true"
      - "traefik.http.routers.nexocloud-tablica.middlewares=nexocloud-tablica-hsts@docker"
      - "traefik.docker.network=proxy"
    healthcheck:
      test: [ "CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://127.0.0.1:8787/" ]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 30s

networks:
  proxy:
    external: true
